body { text-align: center;
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 4vw;
  
}
p
{color:black;
	font-size: 2vw;
  
}

}





